#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(225, 225, 225);
    margin-top: 1.6rem;
    border-radius: 25px;
    width: 230px;

}
.description{
    position: relative;
    top: -65px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.weatherIcon{
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperature{
    position: relative;
    bottom: 95px;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}
.city{
    position: relative;
    top: 10px;

    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;

    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid black;
}

.slide-container{
  max-width: 200px;
  overflow: hidden;
}

.slide-container[data-animated="true"] {
    overflow: hidden;

    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
        );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.slide-container[data-animated="true"] .slide-inner{
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}
.slide-inner{
    padding-block: 1rem;
    display: flex;
    gap: 1rem

}

.day{
  background-color: aqua;
}

@keyframes scroll {
    to {
        transform: translate(-100%);
    }
}